@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
  }
  h1 {
  animation: fadeIn 2s;
  }
  p, td {
  animation: fadeIn 2s;
  }

body {
  background-color: rgb(202, 202, 202);
  /* background: url(./img/background.jpg); */
  /* background-size: cover; */
  margin: 0;
}

.case::-webkit-scrollbar {
  display: none !important;
}

/* ——————————————————————————————————————————分割线———————————————————————————————————————————————————— */

#framework {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: 0;
  width: 100vw;
}

/* ——————————————————————————————————————————分割线———————————————————————————————————————————————————— */
.case {
  display: flex;
  height: 75vh;
  width: 100vw;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: column-reverse;
  width: 30%;
}

.one {
  line-height: 40px;
  margin: 2.5% 10%;
}

a.titles {
  color: rgb(70, 70, 70);
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 5vw;
  font-weight: 100;
  letter-spacing: -3px;
  text-decoration: none;
}

.content {
  margin-left: 10%;
  /* margin-right: 2.5vw; */
  overflow: hidden;
  width: 85vw;
}

._body {
  height: 103vh;
  overflow: hidden;
  width: 103%;
}

.back-btn {
  background-color: rgb(202, 202, 202);
  border-color: rgba(255, 255, 255, 0);
  color: rgb(70, 70, 70);
  display: none;
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
/* ——————————————————————————————————————————分割线———————————————————————————————————————————————————— */
.otherall_box {
  display: none;
}

/* ——————————————————————————————————————————分割线———————————————————————————————————————————————————— */

@media screen and (max-width: 720px) {
  #search_submit {
    display: none;
  }

  #translate_submit {
    display: none;
  }
}

/* ——————————————————————————————————————————分割线———————————————————————————————————————————————————— */

@media screen and (max-width: 650px) {

  a.titles {
    font-size: 15vw;
  }

  .content {
    display: none;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 100vw;
  }

  td {
    margin-bottom: 7.5vh;
  }
}

/* ——————————————————————————————————————————分割线———————————————————————————————————————————————————— */

@media screen and (max-width: 500px) and (min-width: 400px) {
  .bookmark a {
    font-size: 400%;
  }
  .Time>time {
    font-size: 300%;
  }
}

@media screen and (max-width: 399px) {
  .bookmark a {
    font-size: 300%;
  }
  .Time>time {
    font-size: 200%;
  }
}

@media screen and (max-width: 250px) {
  .bookmark a {
    font-size: 120%;
  }

  .Time>time {
    font-size: 100%;
  }
}